.globalCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 99999;
  transform: translate(-50%, -50%);
}

body {
  cursor: none;
}